<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Rejoice &amp; Hope Foundation | Inspiring Hope, Transforming Lives</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Rejoice & Hope Foundation is a non-profit organization dedicated to bringing hope and positive change to underserved communities through education, healthcare, and empowerment programs." />
	<meta name="keywords"
		content="Rejoice & Hope Foundation, charity, non-profit, community empowerment, education, healthcare, hope, transformation, social impact, giving back" />
	<meta name="author" content="Rejoice & Hope Foundation" />

	<!-- Open Graph meta tags -->
	<meta property="og:title" content="Rejoice &amp; Hope Foundation | Inspiring Hope, Transforming Lives" />
	<meta property="og:image" content="URL-to-your-og-image.jpg" />
	<meta property="og:url" content="https://your-website-url.com" />
	<meta property="og:site_name" content="Rejoice & Hope Foundation" />
	<meta property="og:description"
		content="Join Rejoice & Hope Foundation in making a difference through impactful programs that uplift communities, promote education, and provide healthcare." />

	<!-- Twitter meta tags -->
	<meta name="twitter:title" content="Rejoice &amp; Hope Foundation | Inspiring Hope, Transforming Lives" />
	<meta name="twitter:image" content="URL-to-your-twitter-image.jpg" />
	<meta name="twitter:url" content="https://your-website-url.com" />
	<meta name="twitter:card" content="summary_large_image" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon"
		href="/assets/site_images/Rejoice and Hope Foundation/Logo png/Untitled253_20241209183055.png">

	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Animate.css -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/assets/css/animate.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/assets/css/icomoon.css">
	<link rel="stylesheet" href="/assets/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="/assets/css/superfish.css">

	<link rel="stylesheet" href="/assets/css/style.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet">
	<!-- Modernizr JS -->
	<script src="/assets/js/modernizr-2.6.2.min.js"></script>
</head>